page-login{

.btn-login-container{
		text-align: center;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		color: black;

	}


	.btn-login-container > div{
	    border-radius: 50px 50px;
	    width: 100%;
	    padding: 2px 2px 2px 2px;
	    background-image: url("../assets/imgs/gradient-180.png");
	    background-size: inherit;

	}
	.btn-login-container > div > button{
		font-size: 16px;
		font-weight: bold;
	    border-radius: 50px 50px;
		background-color: white;
		width: 100%;
		height: 40px;
	}

	.btnForgot{
		text-align: center;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

	.btnForgot > button{
		background-color: transparent;
		color: #44D0BF;
	}
}