page-card-payment{

      input {
      text-align: left;
      font-family: "Montserrat-Light";
      /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
      ::-webkit-input-placeholder {
        text-align: center;
      }
    }

    #row1{
      font-size: 15px;
      padding: 10px;
    }

    .text-input{
      font-family: "Montserrat-Light" !important;

    }
    #first-row{
      font-family: "Montserrat-Light" !important;

    }

    .btn-main-container{
      font-family: "Montserrat-Bold" !important;
    }

  ion-input, ion-datetime{
    border-bottom: groove 1px black;
    align-content: center
  }
  .ion-ios-arrow-back:before {
    content: "";
  }

  .ion-ios-arrow-back{
    background-image: url(../assets/icon/back-icon.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
    margin-top: 10px;
  }

    /* ANDROID CSS */

  .toolbar-title-md{margin-right: 50px;}  
  .ion-md-arrow-back:before{
    content: "";
    background-image: url("../assets/icon/back-icon.png");
  }

  .ion-md-arrow-back{
    background-image: url(../assets/icon/back-icon.png);
    background-repeat: no-repeat;
    width: 50px;
    margin: 9px -9px 0px -12px; 

  }
  .toolbar-title-md{margin-right: 50px;}
}