page-goal-name {



		#input-expense{
		background-color: transparent;
	}

	.first-row{
		background-image: none;
		font-style: "Montserrat-Light";	
		text-align: center;	
	}
	.first-row ion-input {

	  input {
	    text-align: center;
	   	font-family: "Montserrat-Light";
	    /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
	    ::-webkit-input-placeholder {
	      text-align: center;
	    }
	  }

	}

	#input-expense{
		margin-bottom: 30px;
	}

	a.roundbutton{
		text-decoration: none;
	   	font-size: 18px;

	}
	.roundbutton {
		color: black !important;
		border-color: black !important;
	   	font-family: "Montserrat-Bold";
	   	text-align: center;
	}

	.text-input{
		color: #44d0bf !important;
	}

	.continue{
		text-align: center;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	.continue > div{
	    border-radius: 50px 50px;
	    width: 80%;
	    padding: 2px 2px 2px 2px;
	   
	    background-size: inherit;
	}
	.continue > div > button{
		font-size: 16px;
		font-weight: bold;
	    border-radius: 50px 50px;
		background-color: white;
		width: 100%;
		height: 40px;
    	font-family: "Montserrat-Bold";

	}
}
