page-verification-code{



	#first-row{
		text-align: center;
	}

	#first-row > p{
		font-family: 'Montserrat-Light';
	}

	.text-input-ios{
		margin: 0;
		padding: 0;
		width: 20px;

	
	}

	#last-row{
		text-align: center;
		font-family: 'Montserrat-Bold';
	}

	#last-row > p{

		font-size: 10px;

	}

	#last-row > p > a{

		color: #44d0bf;

	}
	.toolbar-title {
	    font-size: 15px !important;
	}

	ion-item{
		padding: 0px;
	}

	ion-col{
		text-align: center
	}

	ion-input{
		border-bottom: groove 1px black;
		align-content: center
	}

	input{
		text-align: center;
		font-weight: bold;
	}
}