page-goalactivity {

    .circle {
		border-radius: 50%;
		width: 45px;
		height: 45px;
		margin: 0 auto;
	}
	.outter-circle{
		border: solid 2px #4ACCC6;padding: 6px;
		
	}
	.date {
         font-size: 12px;
         text-align: center;
         color:#4ACCC6;


    }


	.list-text{
		color: black;
		font-size: 16px;
		display: block;
		font-weight: 150;
	}
	.list-text > span{
		font-weight: bold;
	}

	.list-ios > .item-block:first-child {
	     border-top: none; 
	}
	.list-ios > .item-block:last-child {
	     border-bottom: none; 
	}

	.item-block{
			border-color: black;

	}
}
