page-rewards {
	.alert-no-rewards{
		overflow-wrap: break-word;
		border-bottom: solid 1px #C1C1C1;
		color: #C1C1C1;
		font-family: "Montserrat-Bold";
	}

	.box-possible-rewards{
		font-family: "Montserrat-Bold";	
	}
}
