page-home {
	color:black;
/*	body{
		margin: 0px;
	}*/
	span{
		font-size: 18px;
	}

	.toolbar-title-md{
	margin-left:30px;
	}	
	.scroll-content {
	     padding: 0px; 
	}	
	.circle {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
	.outter-circle{
		border: solid 10px #4ACCC6;padding: 10px;
	}
	.first-row > div > img{
		width: 160px;
		height: 160px;
	}

	.first-row{
		background-image: none;
	    background-repeat: repeat-x;
	    width: 100%;
	    min-height: 200px;

	}
	.goal-text{
		text-align: center;
		margin-top: 30px;
		margin-left: 5px;
		color: black;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
	}

	.text-style{

		font-family: 'Montserrat-Bold'!important;
		text-align: center;
		font-size: 18pt;
	}

	.text-style2{

		font-family: 'Montserrat-Light' !important;
		text-align: center;
		font-size: 14pt;
	}
	::-webkit-scrollbar,
	*::-webkit-scrollbar {
	  display: none;
	}
	.second-row{
		text-align: center;
		margin-bottom: 20px;
		color: black;
	}
	.last-row{
		text-align: center;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	.last-row > .col1{
		float: left;
		margin-right: 25px;
		margin-top: 20px;
	}

	.last-row > .col2{
		float: left;
		margin-left: 25px;
		margin-top: 20px;	
	}

	.desc{
		 font-weight: bold;
		 font-size: 16px;
	}


}

