page-profile-setting {
	.circle {
		border-radius: 50%;
		width: 120px;
		height: 120px;
		margin: 0 auto;
	    text-align: center;
	    overflow: hidden;
	    background-color: white;
	}

	.first-row{
		padding-top: 10px;
		min-height: 160px;
		margin-bottom: 0;
	}
	.first-row > div > img{
		width: inherit;
		height: inherit;
	    display:block;
	    margin:auto;

	}

	.second-row{
		margin-bottom: 20px;

	}
	.acc-name > p{
		text-align: center;
		font-size: 18px;
		color: white;
		font-family: "Montserrat-bold" !important;
	}
	.item {
		height: 80px; /* <- this can be whatever you need */
	}
	.my-label{
		font-size: 15px;
		padding-bottom: 10px;
		font-family: "Montserrat-Bold" !important;
	}
	.item-inner input{
		font-size: 15px;
		font-family: "Montserrat-Light" !important;

	}
	.acc-img{
		position: relative;
	}

	.profile-img{
		position: relative;
	}

	.button-inner{
		font-family: "Montserrat-Light" !important;
		margin-right:10px;
	}



	.camera-plus{
		position: absolute;
	    left: 0;
	    top: 0px;
	    left: 0px;
	    z-index: 10000;

	    &:hover{
	    	display:block !important;
	    }
	}

	.camera-plus:hover{
		display: block;
	}


}
