<ion-header no-border>

  <ion-navbar color="navbar">
    <ion-title>Profile Settings</ion-title>
        <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <span class="btn-back-nav"></span>
      </button>
    </ion-buttons> 
    <ion-buttons end>
      <button ion-button icon-only (click)="updateForm()">
        Save
      </button>
    </ion-buttons>  
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="first-row">
		<div class="acc-img circle">
			<img (click)="openCamera()" class="camera-plus" src="assets/imgs/logo.png" *ngIf="!user.user_image">
			<img (click)="openCamera()" class="camera-plus" src="{{user.user_image}}" *ngIf="user.user_image">
			
		</div>
		<div class="acc-name">
			<p>{{user.first_name}}</p>
		</div>

<!-- 		<div class="acc-name">
			<p>Alex Wong</p>
		</div> -->
	</div>
	<div class="second-row">
	    
		  <ion-item>
		    <ion-label color="grey" floating  class="my-label">First Name</ion-label>
		    <ion-input [(ngModel)]="user.first_name"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label color="grey" floating  class="my-label">Last Name</ion-label>
		    <ion-input [(ngModel)]="user.last_name"></ion-input>
		  </ion-item>
		  
		  <!-- <ion-item>
		    <ion-label color="grey" floating  class="my-label">{{user?.}}</ion-label>
		    <ion-input type="password"></ion-input>
		  </ion-item> -->
		  <ion-item>
		    <ion-label color="grey" floating  class="my-label">Phone</ion-label>
		    <ion-input [(ngModel)]="user.phone_number" type="tel"></ion-input>
		  </ion-item>
	
	</div>
</ion-content>
