// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


	//tabbar background

	.tabbar{
		background-color: white !important;
	}

	.tab-button[aria-selected="true"] {
		color: #44d0bf !important;
	}

	.tab-button[aria-selected="true"] .tab-button-icon{
		color: #44d0bf !important;
	}
	.first-row{
		background-image: url("../assets/imgs/first-row-bg.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    min-height: 200px;
	    margin-bottom: 20px;
	    color:#9CA3AA;
		border-bottom-left-radius: 200px 20px;
		border-bottom-right-radius: 200px 20px;
    }

	.second-row{
		color:#9CA3AA;
	}

	.third-row{
		color:#9CA3AA;
	}

	::-webkit-scrollbar,
	*::-webkit-scrollbar {
	  display: none;
	}


	.btn-main-container{
		text-align: center;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
	}


	.btn-main-container > div{
	    border-radius: 50px 50px;
	    width: 100%;
	    padding: 2px 2px 2px 2px;
	    background-image: url("../assets/imgs/gradient-180.png");
	    background-size: inherit;
	}
	.btn-main-container > div > button{
		font-size: 16px;
		font-weight: bold;
	    border-radius: 50px 50px;
		background-color: white;
		width: 100%;
		height: 40px;
	}
	@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../assets/font/Montserrat-Bold.ttf');
	font-weight: 200
	}
	@font-face {
	font-family: 'Montserrat-Light';
	src: url('../assets/font/Montserrat-Light.ttf');
	font-weight: 200
	}
	@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../assets/font/Montserrat-Regular.ttf');
	font-weight: 200
	}
/*	.ion-ios-customicon-outline,
	.ion-ios-customicon,.ion-md-customicon,.ion-md-customicon-outline {
	  content: url('../assets/icon/activityNoActive.png');
	}*/

	ion-icon {
	    &[class*="appname-"] {
	        // Instead of using the font-based icons
	        // We're applying SVG masks
	        mask-size: contain;
	        mask-position: 50% 50%;
	        mask-repeat: no-repeat;
	        background: currentColor;
	        width: 1em;
	        height: 1em;
	    }
	    // custom icons
	    &[class*="appname-activity"] {
	        mask-image: url(../assets/icon/activity.png);
	    }
	    &[class*="appname-goal"] {
	        mask-image: url(../assets/icon/goal.png);
	    }
	    &[class*="appname-group"] {
	        mask-image: url(../assets/icon/group.png);
	    }
	    &[class*="appname-rewards"] {
	        mask-image: url(../assets/icon/rewards.png);
	    }

	    .font-montserrat-bold{
	    	font-family: "Montserrat-Bold";
	    }

	    .font-montserrat-light{
	    	font-family: "Montserrat-Light";
	    }


	}
	.bar {
	    background-size: 100% 0px;
	}

	.toolbar-title-md{
		text-align:center;
		font-family: "Montserrat-Bold";
/*		margin-left: 40px;*/
		color: black;
		font-size: 16px;
	}

	.toolbar-title {
		text-align:center !important;
		font-family: "Montserrat-Bold" !important;
		font-size: 16px !important;

	}
	.btn-back-nav{
		background-image: url("../assets/icon/back-icon.png");
		background-repeat: no-repeat;
		margin: 10px 0 0;
    	min-width: 15px;		
	}
	.btn-edit-goal{
		background-image: url("../assets/icon/share-icon.png");
		background-repeat: no-repeat;
		display: inline-block;
		height: 14px;
		width: 20px;
	}

	.bar-buttons-ios[left] > .bar-button-default > .button-inner{

		background-image: url("../assets/icon/back-icon.png") !important;
		background-repeat: no-repeat;
		margin: 10px 0 0;
    	min-width: 15px;
	}

	.bar-buttons-ios[left] > .bar-button-default > .button-inner > ion-icon{
		display:none;
	}

	.back-button-text {
    display: none;
    -webkit-box-align: center;
    align-items: center;
	}

.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
		background-image: url("../assets/icon/go-icon.png");
	}