page-tutorial {



.main {
	background:linear-gradient(#007ADF, #44D0BF);
	color: white;


}

h2{
  font-family: "Montserrat-Bold";
}

[padding] h2:first-child{
  margin-top: 50px;
}

.slides{
  margin-top: 40px;
}

.toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  // .swiper-container{
  //   height:80% !important;
  // }

.button{
  width:45%;
  color:white;
  font-family: "Montserrat-Bold";
  font-size: 15px;

}


.button-outline-md {
    border-width: 1px;
    border-style: solid;
    border-color:white;
    color:white;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;

  }

  .button-outline-ios {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color:white;
    color:white;
    background-color: transparent;
  }
  .button-round-ios {
    border-radius: 64px;
    padding: 0px 2.6rem;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(255, 255, 255);
}

.slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 100px;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    font-family:"Montserrat-Regular";
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-top: 20px;

    b {
      color: #000000;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 30px;
  }
}
